textarea
{	
	max-width: 60%;
	max-height: 120px;
	min-width: 60%;
	min-height: 120px;
	font-size: large;
	font-family: "Arial";
	color: #3f4045;
}

h1
{
	color: #001f54;
	font-family: "Arial";
}

h3, h4
{
	color: #ee6352;
}

p
{
	color: #001514;
	font-family : "Arial";
}