<!DOCTYPE html>
<html>
<head>
	<title>The Typewriter</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/design.css">

</head>

<body>
	
	<h1>Welcome to typewriter, here you can practice your typing skills!</h1>
	<h1>Type the words as fast as you can!</h1>
	<h3>The word you type correctly will disappear allowing the next word to be added to the box.</h3>
	<h4>Just press the "strat" button and start tpying!</h4>

	<center><p id = "timeLeft">Time left: </p></center>
	<center><textarea disabled cols = "190" rows = "10" id = "outText" readonly = "readonly"></textarea></center>
	<br>
	<center><input id = "inText" type = "text" class = "clear" onpaste="return false;"/></center>
	<br>
	<center><button onclick="onTimer()">start</button></center>
	
	
	<script>

		$("input").prop('disabled', true);
		var time = 60;
		var out = document.getElementById('outText');
		var wordMarker = 0;
		var errMarker = 0;
		var arrMarker = 0;
		var correct = false;
		var NUM_OF_WORDS = 72;
		out.value = '';
		var jsWords = [];
		
		function onTimer()
		{
		  $("input").prop('disabled', false);
		  document.getElementById("timeLeft").innerHTML = "Time left: "+time;
		  time--;
		  if (time < 0)
		  {
		    alert("Time's up!");

		    var url = '/results';
			var form = $('<form action="' + url + '" method="post">' +
			  '<input type="text" name="right" value="' + wordMarker + '" />' +
			  '<input type="text" name="wrong" value="' + errMarker + '" />' +
			  '</form>');
			$('body').append(form);
			form.submit();
		  }
		  else
		  {
		    setTimeout(onTimer, 1000);
		  }
		}

		{%for i in words%}
			jsWords.push("{{i}}");
		{%endfor%}

		for(var i = 0; i <= NUM_OF_WORDS; i++)
		{
			out.value += jsWords[i]+' ';
		}

		$(document).ready(function()
		{
			window.addEventListener('keypress',

			function ev (e)
			{
			    if (e.keyCode == 32) 
			    {
			    	var correctText = jsWords[wordMarker].replace(/\s+/g, '');
			        var userInput = document.getElementById("inText").value.replace(/\s+/g, '');
			        if(correctText == userInput && wordMarker == 0)
			        {
			        	wordMarker = 1;
			        	correct = true;
			        }

			        else if(correctText == userInput || correctText == "\n"+userInput && wordMarker > 0)
			        {
			        	wordMarker++;
			        	correct = true;
			        }
			        else
			        {
			        	alert("Incorrect word, type again");
			        	errMarker++;
			        	correct = false;
			        }

			        if(correct)
			        {
			        	$('input[type="text"]').val('');
			        	out.value = '';
			        	arrMarker++;
			        	var tempArrMraker = arrMarker + NUM_OF_WORDS;
			        	for(var i = arrMarker; i < tempArrMraker; i++)
						{
							out.value += jsWords[i]+' ';
						}
					}
		        }
			}, false);
		});

	</script>

</body>
</html>